/*
  Parts of this code is inspired from the following:
  [1] https://userstyles.org/styles/104936/global-style-pitch-black
*/

html,
html[class],
html[id],
body,
body[class],
body[id],
input {
  background: #0c0c0c !important;
}

div:last-child,
:not(span),
:not(a) {
  border-color: #4af !important;
  background-color: #0c0c0c !important;
}

:link,
:visited,
a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
img,
video,
div,
span,
img ~ *,
img *,
video *,
video ~ * > *,
div[style*='text-align:'] *,
button,
button *,
div[style*='text-align:'],
[style*='background-image:'] ~ *,
div[style*='background-image:'] *,
[style*='.gif'],
[style*='.jpg'],
[style*='.png'] {
  background-color: transparent !important;
}

a,
a[class] {
  color: #9cf !important;
}

a:hover {
  color: #39f !important;
}

li {
  color: #8bf !important;
}

tr {
  color: #f00 !important;
}

cite {
  color: #268 !important;
}

input {
  color: #5bf !important;
}

em {
  color: #def !important;
}

ul {
  color: #f00 !important;
}

nobr {
  color: #f00 !important;
}

div {
  color: #bdf !important;
}

strong {
  color: #9cc !important;
}

s {
  color: #f00 !important;
}

h1 {
  color: #abc !important;
}

h2 {
  color: #def !important;
}

h3 {
  color: #cff !important;
}

* {
  color: #7cf !important;
}

b {
  color: #7af !important;
}

a,
span,
p,
div,
textarea,
i,
td {
  color: #ace !important;
  text-shadow: -1px -1px #0c0c0c, 1px -1px #0c0c0c, -1px 1px #0c0c0c,
    1px 1px #0c0c0c !important;
}

::-moz-selection {
  color: #0ff !important;
  background-color: #333 !important;
}

::selection {
  color: #0ff !important;
  background-color: #333 !important;
}

::-webkit-selection {
  color: #0ff !important;
  background-color: #333 !important;
}

a > span.Sprite16 {
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

.clickable {
  cursor: pointer;
  color: #234da7;
}
input[type='text'] {
  padding: 4px 4px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 2px 2px 3px #ddd;
  -moz-box-shadow: 2px 2px 3px #ddd;
  outline: 0;
  -webkit-appearance: textfield;
}
